.divResultatSerie {
    width: 1120px;
}

.articleSerie {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F0F0;
    padding: 15px 30px 15px 30px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.15);
       -moz-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.15);
            box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.15);
}

.Section2Docu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px 45px 15px 45px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.15);
       -moz-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.15);
            box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.15);
}

.divTitreSerie {
    width: 350px;
    display: flex;
    align-items: center;
}

.divAuteur {
    width: 200px;
}

.imgSerie {
    width: 65px;
    height: auto;
    margin-right: 50px;
    border: 5px solid white;
}

.divDispo {
    width: 130px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.imgDispo {
    margin-right: 10px;
}

.divImgFleche {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.angle-down2 {
    height: 2em;
}

.divDescriptionSerie {
    width: 650px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.divDescriptDetail {
    display: flex;
    flex-flow: column nowrap;
    width: 48%;
}

.divTitreSerie {
    margin-bottom: 2px;

}

.divDescriptDetail h3, h4, p {
    padding: 3px 0px 3px 0px;
}

.divDescriptDetail p {
    text-align: center;
}

.divDescriptDetail h3 {
    font-weight: 600;
}

.divDescriptDetail p{
    font-weight: 600;
}


.divAuteur {
    margin-bottom: 2px;
    width: 100%;
}

.divCollege {
    margin-bottom: 4px;
} 

.divMonCollege {
    margin-bottom: 4px;
}
.divCollege p{
    text-align: center;
    padding: 5px 0px 5px 0px;
    color: orange;
    background-color: white;
}

.divMonCollege p {
    text-align: center;
    padding: 5px 0px 5px 0px;
    color: green;
    background-color: white;
}
